@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj na stronie głównej!</h1>
    <p>Wybierz jedną z akcji w menu lub przejrzj ostatnio dodane produkty:</p>
</div>
